---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Artículos 1 | DesarrollaTec">
  <section
    class="text-gray-800 bg-[#c2e4d3] p-5 flex flex-col justify-center items-center"
  >
    <div
      class="mt-24 container mx-auto w-7/12 px-5 flex flex-col justify-center items-center gap-5"
    >
      <h1 class="text-4xl font-bold text-center">
        La Importancia de la Biodiversidad en Chihuahua
      </h1>
      <p class="text-justify">
        La biodiversidad en Chihuahua es un tesoro natural que no solo enriquece
        el medio ambiente, sino que también sostiene la vida de las comunidades
        locales. Este artículo explora la riqueza de la flora y fauna
        chihuahuense, su relevancia ecológica y cultural, y los desafíos que
        enfrenta.
      </p>
      <ul
        class="p-6 w-full flex flex-col items-center justify-center gap-6 bg-green-100"
      >
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Riqueza de Flora y Fauna
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <img src="/loboMexicano.webp" alt="Lobo Mexicano" class="w-4/12" />
            <p class="text-justify">
              Chihuahua alberga una variedad impresionante de especies, muchas
              de las cuales son endémicas. Entre los mamíferos, destacan el lobo
              mexicano y el venado cola blanca, mientras que en el ámbito aviar,
              la cotorra serrana occidental y el halcón peregrino son
              emblemáticos. La flora incluye especies como el mezquite y el palo
              verde, que son esenciales para la salud del ecosistema.
            </p>
          </div>
        </li>
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">Importancia Cultural</h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <p class="text-justify">
              La biodiversidad no solo tiene un valor ecológico, sino que
              también es parte integral de la identidad cultural de las
              comunidades chihuahuenses. Las plantas y animales locales son
              utilizados en prácticas tradicionales, medicina y rituales, lo que
              refuerza la conexión entre la naturaleza y la cultura.
            </p>
            <img
              src="/ceremoniaIndigena.webp"
              alt="Ceremonia indígena"
              class="w-4/12"
            />
          </div>
        </li>
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Amenazas a la Biodiversidad
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <img
              src="/cambioClimatico.webp"
              alt="Deforestación"
              class="w-4/12"
            />
            <p class="text-justify">
              A pesar de su riqueza, la biodiversidad en Chihuahua enfrenta
              serias amenazas. El cambio climático, la urbanización y la
              deforestación están poniendo en peligro a muchas especies. La
              pérdida de hábitat y la introducción de especies invasoras son
              factores que agravan esta situación.
            </p>
          </div>
        </li>
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Estrategias de Conservación
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <p class="text-justify">
              Para proteger esta invaluable biodiversidad, se han implementado
              diversas estrategias de conservación. La creación de áreas
              naturales protegidas y programas de educación ambiental son
              fundamentales para involucrar a la comunidad en la preservación de
              su entorno.
            </p>
            <img
              src="/tortugaMapimi.webp"
              alt="Tortuga del Bolsón de Mapimí"
              class="w-4/12"
            />
          </div>
        </li>
      </ul>
      <div class="flex flex-row justify-center items-center gap-4">
        <a
          href="/articulos"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          >Regresar a Artículos</a
        >
        <a
          href="/articulo/2"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            fill="rgba(255,255,255,1)"
          >
            <path
              d="M10.0858 12L5.29291 16.7929L6.70712 18.2071L12.9142 12L6.70712 5.79291L5.29291 7.20712L10.0858 12ZM17 6.00002L17 18H15L15 6.00002L17 6.00002Z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
</Layout>
