---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Artículos 1 | DesarrollaTec">
  <section
    class="text-gray-800 bg-[#c2e4d3] p-5 flex flex-col justify-center items-center"
  >
    <div
      class="mt-24 container mx-auto w-7/12 px-5 flex flex-col justify-center items-center gap-5"
    >
      <h1 class="text-4xl font-bold text-center">
        Desafíos y Estrategias para la Conservación de la Biodiversidad en
        Chihuahua
      </h1>
      <p class="text-justify">
        La biodiversidad en Chihuahua enfrenta numerosos desafíos que amenazan
        su existencia. Este artículo analiza estos problemas y las estrategias
        implementadas para su conservación.
      </p>
      <ul
        class="p-6 w-full flex flex-col items-center justify-center gap-6 bg-green-100"
      >
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Desafíos a la Biodiversidad
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <img
              src="/agricultura.webp"
              alt="Agricultura en Chihuahua"
              class="w-4/12"
            />
            <p class="text-justify">
              El cambio climático, la deforestación y la urbanización son las
              principales amenazas a la biodiversidad en Chihuahua. Estas
              acciones no solo afectan a las especies locales, sino que también
              alteran los ecosistemas y los servicios que estos proporcionan.
            </p>
          </div>
        </li>
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Estrategias de Conservación Implementadas
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <p class="text-justify">
              Para contrarrestar estos desafíos, Chihuahua ha implementado
              diversas estrategias de conservación. Se han establecido áreas
              naturales protegidas que abarcan más de 1.5 millones de hectáreas,
              lo que representa el 6.4% del territorio del estado. Estas áreas
              son cruciales para la protección de ecosistemas únicos y especies
              en peligro de extinción.
            </p>
            <img
              src="/acuiferoChihuahua.webp"
              alt="Acuífero de Chihuahua"
              class="w-4/12"
            />
          </div>
        </li>
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Iniciativas Locales y Participación Comunitaria
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <img src="/bisonte.webp" alt="Bisonte Americano" class="w-4/12" />
            <p class="text-justify">
              Las iniciativas locales son fundamentales para la conservación de
              la biodiversidad. Las comunidades han sido involucradas en la
              gestión sostenible de los recursos naturales, promoviendo
              prácticas que equilibran la conservación con el desarrollo
              económico. Proyectos como la reintroducción del bisonte americano
              y la protección del perrito llanero de cola negra son ejemplos de
              este enfoque.
            </p>
          </div>
        </li>
        <li class="w-full flex flex-col items-center justify-center gap-2">
          <h3 class="text-2xl font-bold text-center">
            Educación Ambiental como Herramienta de Cambio
          </h3>
          <div class="flex flex-row items-center justify-center gap-4">
            <p class="text-justify">
              La educación ambiental se ha convertido en una herramienta clave
              para la conservación. Programas de capacitación y sensibilización
              han sido implementados para crear conciencia sobre la importancia
              de la biodiversidad y fomentar actitudes responsables hacia su uso
              y conservación.
            </p>
            <img
              src="/talleresAmbientalesChihuahua.webp"
              alt="Talleres ambientales en Chihuahua"
              class="w-4/12"
            />
          </div>
        </li>
      </ul>
      <div class="flex flex-row justify-center items-center gap-4">
        <a
          href="/articulo/2"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            fill="rgba(255,255,255,1)"
            ><path
              d="M13.9142 12L18.7071 7.20712L17.2929 5.79291L11.0858 12L17.2929 18.2071L18.7071 16.7929L13.9142 12ZM7 18V6.00001H9V18H7Z"
            ></path></svg
          ></a
        >
        <a
          href="/articulos"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          >Regresar a Artículos</a
        >
      </div>
    </div>
  </section>
</Layout>
