---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Especies Endémicas de Chihuahua | DesarrollaTec">
  <section class="font-sans p-10 bg-[#D9F3C4]">
    <div class="mt-16 container mx-auto">
      <h2 class="text-3xl font-bold text-center mb-6">
        Especies Endémicas de Chihuahua
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Ejemplo 1: Pino Azul -->
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <img
            src="/pino.JPG"
            alt="Pino Azul"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Pino Azul (Pinus maximartinezii)
            </h3>
            <p class="text-gray-600 text-base mt-4">
              El Pino Azul es una especie de árbol conífero endémico de las
              montañas de la Sierra Madre Occidental. Este árbol, conocido por
              su distintivo follaje azulado, juega un papel crucial en los
              ecosistemas forestales de Chihuahua.
            </p>
          </div>
        </div>

        <!-- Ejemplo 2: Guacamaya Verde -->
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <img
            src="/guacamaya.jpg"
            alt="Guacamaya Verde"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Guacamaya Verde
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Esta ave endémica de Chihuahua destaca por sus brillantes plumas
              verdes y su importante rol en la dispersión de semillas. Su hábitat
              natural son los bosques templados y subtropicales.
            </p>
          </div>
        </div>

        <!-- Ejemplo 3: Biznaga Barril de Chihuahua -->
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <img
            src="/biznaga.JPG"
            alt="Biznaga Barril de Chihuahua"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Biznaga Barril (Ferocactus pilosus)
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Este cactus endémico del Desierto Chihuahuense es conocido por su
              forma redondeada y flores vibrantes. Es una especie clave en el
              ecosistema, proporcionando alimento y refugio a diversas especies.
            </p>
          </div>
        </div>

        <!-- Ejemplo 4: Zorro de Chihuahua -->
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <img
            src="/zorro.jpg"
            alt="Zorro de Chihuahua"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Zorro de Chihuahua (Vulpes macrotis)
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Este pequeño mamífero es endémico de las zonas áridas del estado.
              Adaptado al Desierto Chihuahuense, el zorro es conocido por su
              capacidad para sobrevivir en condiciones extremas.
            </p>
          </div>
        </div>

        <!-- Ejemplo 5: Sotol -->
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <img
            src="/sotol.webp"
            alt="Sotol"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Sotol (Dasylirion wheeleri)
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Planta endémica del norte de México, el sotol es un icono del
              Desierto Chihuahuense. Sus hojas largas y afiladas se utilizan en
              la elaboración de artesanías y bebidas tradicionales.
            </p>
          </div>
        </div>

        <!-- Ejemplo 6: Cacomixtle -->
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <img
            src="/cacomixtle.jpg"
            alt="Cacomixtle"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Cacomixtle (Bassariscus astutus)
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Este pequeño mamífero, parecido a un mapache, es endémico de los
              bosques y cañones de Chihuahua. Es una especie nocturna y juega un
              rol importante como dispersor de semillas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>