---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DesarrollaTec | Inicio.">
	<header class="bg-slate-100">
		<h1>
			DesarrollaTec
		</h1>
		<nav>
			
		</nav>
	</header>
	<main class="bg-slate-50">
		<p>
			Bienvenid@ a DesarrollaTec
		</p>
	</main>
</Layout>