---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lecturas | DesarrollaTec">
  <section class="font-sans p-10 bg-[#FFD580]">
    <div class="mt-16 container mx-auto">
      <h2 class="text-3xl font-bold text-center mb-6">Lecturas</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a
            href="https://www.biodiversidad.gob.mx/region/EEB/estudios/ee_chihuahua"
            target="_blank"
            class="block"
            title="Dar click para saber más!"
          >
            <img
              src="/sierraTarahumara.webp"
              alt="Sierra Tarahumara"
              class="rounded-t-lg object-cover h-64 w-full"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                La biodiversidad en Chihuahua: Estudio de Estado
              </h3>
              <p class="text-gray-600 text-base mt-4">
                En 2008, la Dirección de Ecología de la Secretaría de Desarrollo
                Urbano y Ecología del estado de Chihuahua, promovió la firma de
                una carta compromiso para formalizar los trabajos de elaboración
                de la obra La biodiversidad en Chihuahua: Estudio de Estado y
                posteriormente de la Estrategia Estatal de Biodiversidad en
                Chihuahua.
              </p>
            </div>
          </a>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a
            href="https://chihuahua.gob.mx/atach2/Principal/uploads/Parte%202%20-%20Diagnostico_de_la_Biodiversidad.pdf"
            target="_blank"
            class="block"
            title="Dar click para saber más!"
          >
            <img
              src="/barrancasDelCobre.webp"
              alt="Barrancas del Cobre"
              class="rounded-t-lg object-cover h-64 w-full"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                Estrategia estatal para la conservación y uso sustentable de la
                biodiversidad en Chihuahua
              </h3>
              <p class="text-gray-600 text-base mt-4">
                La Estrategia Estatal de Biodiversidad en Chihuahua es un
                instrumento de política pública que establece los lineamientos
                generales para la conservación y uso sustentable de la
                biodiversidad en el estado. Se basa en un diagnóstico de la
                situación actual de la biodiversidad y en la identificación de
                los principales problemas y amenazas que enfrenta.
              </p>
            </div>
          </a>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a
            href="https://chihuahua.gob.mx/sedue"
            target="_blank"
            class="block"
            title="Dar click para saber más!"
          >
            <img
              src="/dunasSamalayuca.webp"
              alt="Dunas de Samalayuca"
              class="rounded-t-lg object-cover h-64 w-full"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                Secretaría de Desarrollo Urbano y Ecología
              </h3>
              <p class="text-gray-600 text-base mt-4">
                La Secretaría de Desarrollo Urbano y Ecología (SEDUE) es la
                entidad encargada de promover el desarrollo sustentable en el
                estado de Chihuahua. Su misión es fomentar la protección y
                conservación del medio ambiente, así como la gestión integral de
                los recursos naturales, para garantizar un entorno saludable y
                equilibrado para las presentes y futuras generaciones.
              </p>
            </div>
          </a>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a
            href="https://www.gob.mx/inecc"
            target="_blank"
            class="block"
            title="Dar click para saber más!"
          >
            <img
              src="/pastizalesDelDesierto.webp"
              alt="Pastizales del Desierto Chihuahuense"
              class="rounded-t-lg object-cover h-64 w-full"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                Instituto Nacional de Ecología y Cambio Climático
              </h3>
              <p class="text-gray-600 text-base mt-4">
                El Instituto Nacional de Ecología y Cambio Climático (INECC) es
                un organismo público descentralizado de la Secretaría de Medio
                Ambiente y Recursos Naturales (SEMARNAT) que tiene como objetivo
                promover la protección, restauración y conservación de los
                ecosistemas y recursos naturales de México, así como la
                mitigación y adaptación al cambio climático.
              </p>
            </div>
          </a>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a
            href="https://www.scielo.org.mx/pdf/remexca/v13n6/2007-0934-remexca-13-06-1003.pdf"
            target="_blank"
            class="block"
            title="Dar click para saber más!"
          >
            <img
              src="/talaIlegal.webp"
              alt="Tala ilegal en Chihuahua"
              class="rounded-t-lg object-cover h-64 w-full"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                Impacto del cambio climático en la biodiversidad de Chihuahua
              </h3>
              <p class="text-gray-600 text-base mt-4">
                Un artículo que examina cómo el cambio climático está afectando
                a las especies y ecosistemas en Chihuahua, con recomendaciones
                para mitigar estos efectos.
              </p>
            </div>
          </a>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-transform duration-300 ease-in-out"
        >
          <a
            href="https://www.elheraldodechihuahua.com.mx/local/en-peligro-8-especies-de-animales-en-chihuahua-5610431.html"
            class="block"
            title="Dar click para saber más!"
          >
            <img
              src="/bisonte.webp"
              alt="Bisonte Americano"
              class="rounded-t-lg object-cover h-64 w-full"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-gray-800">
                En peligro 8 especies de animales en Chihuahua
              </h3>
              <p class="text-gray-600 text-base mt-4">
                Publicaciones recientes han documentado que, como resultado de
                las actividades humanas, se han perdido ya para la humanidad
                hasta 543 especies de vertebrados terrestres, sin contar las
                especies de insectos, plantas y hongos que debido a la falta de
                estudios no han sido documentadas. <span
                  class="font-medium font-roboto underline"
                  >Rivas, V. (2020, agosto 11)</span
                >
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
