---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mapa | DesarrollaTec">
 
  <section class="bg-[#E8FFE9] py-40">
    <div class="px-4 mx-auto max-w-screen-xl">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">

        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
          Mapa de la región
        </h2>
        <p class="font-light text-gray-500 sm:text-xl">
          Conoce la región de Chihuahua
        </p>

        <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1qvbdwSIqGkDKm3znpllQsewSAOaAlvU&ehbc=2E312F" width="640" height="480"></iframe>

      </div>
    </div>
  </section>
  
  
</Layout>