---
import Layout from "../layouts/Layout.astro";
import QuizComponent from "../components/Quiz.vue";
---

<Layout title="Quiz | DesarrollaTec">
  <section
    class="text-gray-800 bg-[#E8FFE9] p-5 flex flex-col justify-center items-center"
  >
    <div
      class="mt-24 container mx-auto w-7/12 px-5 flex flex-col justify-center items-center gap-5"
    >
      <QuizComponent client:load />
    </div>
  </section>
</Layout>
