---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sabías que... | DesarrollaTec">
  <section class="font-sans p-10 bg-[#F8C8DC]">
    <div class="mt-16 container mx-auto">
      <h2 class="text-3xl font-bold text-center mb-6">¡¡Sabias que!!</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="bg-white rounded-lg shadow-lg">
          <img
            src="/serpienteConRayas.webp"
            alt="Serpiente de cascabel"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              El Desierto de Chihuahua: Un Oasis de Biodiversidad
            </h3>
            <p class="text-gray-600 text-base mt-4">
              A pesar de ser uno de los desiertos más grandes de Norteamérica,
              el Desierto de Chihuahua alberga una sorprendente variedad de
              especies vegetales y animales. Se estima que más de 1,000 especies
              de plantas y 400 especies de animales habitan en esta región,
              muchas de las cuales son endémicas y se han adaptado a las duras
              condiciones climáticas.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg">
          <img
            src="/loboMexicano.webp"
            alt="Lobo Mexicano"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              El Lobo Gris: Un Símbolo de Resiliencia
            </h3>
            <p class="text-gray-600 text-base mt-4">
              El lobo gris, una de las especies más emblemáticas de Chihuahua,
              fue declarado extinto en la región en la década de 1970. Sin
              embargo, gracias a esfuerzos de conservación y reintroducción, se
              han registrado avistamientos de lobos en áreas protegidas, lo que
              representa un gran avance en la recuperación de esta especie.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg">
          <img
            src="/mapimiPaisaje.webp"
            alt="Paisaje de la Reserva de la Biosfera Mapimí"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              La Reserva de la Biosfera Mapimí
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Esta reserva, que abarca partes de Chihuahua, Durango y Coahuila,
              es un refugio para especies en peligro de extinción y alberga
              ecosistemas únicos. Es famosa por su diversidad de flora y fauna,
              incluyendo especies endémicas que no se encuentran en ningún otro
              lugar del mundo.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg">
          <img
            src="/echinocereusPalmeri.webp"
            alt="Cactáceas Únicas"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Cactáceas Únicas
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Chihuahua es hogar de varias especies de cactáceas raras, como el
              Echinocereus palmeri, que es conocido por su floración
              espectacular que ocurre solo una vez al año. Esta planta es un
              ejemplo de cómo la flora del desierto ha desarrollado adaptaciones
              únicas para sobrevivir en condiciones extremas.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg">
          <img
            src="/avesMigratorias.webp"
            alt="Aves Migratorias en Chihuahua"
            class="rounded-t-lg object-cover h-64 w-full"
          />
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              Aves Migratorias en Chihuahua
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Durante la migración, Chihuahua se convierte en un punto crucial
              para muchas aves migratorias. Es hogar de especies como el halcón
              peregrino y el colibrí garganta azul, que utilizan los ecosistemas
              de la región como refugio y fuente de alimento durante su
              travesía.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg">
          <a
            href="https://bdi.conabio.gob.mx/fotoweb/archives/5007-Anfibios/Animales/Vertebrados/Anfibios/ECA0148%20Ambystoma%20rosaceum.jpg.info"
            target="_blank"
          >
            <img
              src="/ambystomaRosaceum.webp"
              alt="El Ajolote Tarahumara"
              title="Datos del autor de la imagen: Eric Centenero Alcala"
              class="rounded-t-lg object-cover h-64 w-full"
            />
          </a>
          <div class="p-6">
            <h3 class="text-2xl font-semibold text-gray-800">
              El Ajolote Tarahumara: Un Tesoro Acuático
            </h3>
            <p class="text-gray-600 text-base mt-4">
              Un artículo que examina cómo el cambio climático está afectando a
              las especies y ecosistemas en Chihuahua, con recomendaciones para
              mitigar estos efectos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
