<header class="bg-pink-accent-3 flex justify-around items-center md:h-[5svh] w-full py-2">
  <h1 class="text-2xl font-bold">DesarrollaTec</h1>
  <nav class="flex justify-center items-center">
    <ul class="flex flex-row justify-center items-center gap-5">
      <li>
        <a href="/" class="transition-all hover:font-medium">Inicio</a>
      </li>
    </ul>
  </nav>
</header>
